* { 
    box-sizing: border-box;
}

@font-face {
    font-family: "anybody";
    src: url(../font/Anybody-Black.ttf);
}

@font-face {
    font-family: "gulfs";
    src: url(../font/GulfsDisplay-Normal.ttf);
    font-weight: bold;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 45.5vw 100vw 80vw 80vw 60vw 10vw;
    margin: 0;
    padding: 0;
    position: relative;
}

.menu-container {
    display: none;
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

header {
    grid-column: 1/span 8;
    grid-row: 1/span 1;
    border-bottom: 2px solid black;
    background-color: #ffb4cc;
    position: relative;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul li {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 15%;
    font-family: "gulfs";
    font-size: 1.5vw;
    position: relative;
    top: -5%;
}

#uno {
    width: 3vw;
    position: relative;
    margin-right: 10%;
    margin-left: 0%;
}

#dos {
    width: 3.4vw;
    position: relative;
    margin-left: 5%;
    margin-right: 9%;
}

#tres {
    width: 2vw;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

#cuatro {
    width: 3vw;
    position: relative;
    margin: 3%;
}

.texto {
    position: relative;
    text-align: center;
    color: #045cfc;
    font-family: "gulfs";
    font-size: 2.25vw;
    line-height: 0.9;
    z-index: 4;
    bottom: 1%;
}

.img {
    position: relative;
    bottom: 28%;
    height: 140%;
}

.imagenDer {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 4%;
}

.imagenDer img {
    position: relative;
    width: 16%;
    border: 2px solid black;
    border-radius: 10%;
}

.imgCenter {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 22.5%;
    height: 100%;
}

.imgCenter img {
    width: 36%;
    border: 2px solid black;
    border-radius: 38%;
    height: 90%;
}

.imagenIzq img {
    border: 2px solid black;
    width: 25%;
    border-radius: 10%;
}

.imagenIzq {
    position: relative;
    bottom: 111%;
}

.estrella-1 img {
    width: 3%;
}

.estrella-1 {
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 164%;
    right: 20%;
}

.estrella-2 img {
    width: 1.4%;
}

.estrella-2 {
    display: flex;
    position: relative;
    bottom: 191%;
    justify-content: center;
    right: 22%;
}

.estrella-3 img {
    width: 1.4%;
}

.estrella-3 {
    display: flex;
    position: relative;
    bottom: 175%;
    justify-content: flex-end;
    right: 30%;
}

.division {
    display: flex;
    position: relative;
    bottom: 102.5vw;
}

.estrellaAzul img {
    width: 10vw;
    position: relative;
    left: 4vw;
    top: 2vw;
    object-fit: fill;
    animation: rotar 5s linear infinite;
}

.estrellaAzul {
    height: 8vw;
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 70vw;
}

.caraFeliz img {
    width: 12.5vw;
    animation: rotar 5s linear infinite;
    margin-right: 14vw;
    position: relative;
    margin-left: 40vw;
}

.caraFeliz {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 2vw;
}

.rayo img {
    width: 7vw;
}

.rayo {
    display: flex;
    position: relative;
    justify-content: flex-end;
    right: 17vw;
    bottom: 112vw;
}